input{
  border: none !important;
  background-color:  #3A3B3C !important;
  outline: none;
  width: 90%;
}
input[type=number], input[type=text] {
  color: #fff;
}

.productMainContainer{
  margin-top: 50px;
  position: relative;
}
.mainHeaderContainer{
  background-color:  #3A3B3C !important;
  height: 50px;
}
.mainFooterContainer{
  box-shadow: rgb(0 0 0 / 37%) 0px 21px 31px 40px
}
.searchBar{
  border-radius: 20px;
  width: 80%;
}
.btn{
  color: #fff !important;
}
.btn-warning {
  color: #3A3B3C !important;
}
table{
  color: #fff !important;
}
table:hover{
  color: #fff !important;
}
.addReceipeForm{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.showReceipeTable{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
